#header,
#nav,
#gsHeader,
.block-core-BreadCrumb,
.sidebar-right,
.nav-arrow,
.giInfo-wrapper,
.block-core-GuestPreview,
.item-position,
.indicator,
.noprint {
    display: none;
}

.thumbnail-description-wrapper {
    position: initial;
}

.thumbnail-wrapper {
    border: 1px solid gray;
    margin-bottom: 10px;
}
.thumbnail {
    margin-bottom: 0;
}
.giTitle.collapsed {
    font-size: 1.3em;
}

.sidebar-right {
    float: none;
}

@media only print {
    .photo-container {
        min-height: initial;
    }

    .sidebar-right {
        height: initial;
    }
}

body.gallery {
    padding: 0;
}

.photo-container {
    width: 100%;
    border: 0px;
}

#container, #container2, #content {
    width: 100%;
    margin: 0;
    float: none;
}

a:link, a:visited {
    color: #781351
}

a[href]:after {
    content: none !important;
}
